@import "../../styles/abstracts/variables";


.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    padding: 0 7.3rem;
    max-width: 144rem;
    margin: 0 auto;

    small {
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
      opacity: 0.5;
      margin-top: 1.6rem;
      display: block;
    }
    h4 {
      margin-top: 3.2rem;
    }

    h4, li {
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
      text-transform: capitalize;
    }
  }

  .content_heading {
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
      text-transform: capitalize;
  }

  
.logo {
  margin-top: 2.4rem;
  align-items: baseline;
  gap: 8px;
  display: flex;

  .news {
    font-family: $secondary_font;
    line-height: 21px;
    background: $secondary_color;
    border-radius: 4px;
    color: #f8f8f8;
    padding: 5.5px 8px;
  }
}
  
  .social_container {
    margin-top: 1.6rem;
    gap: 16px;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 3.2rem;
  }
  
  .socail_container_background {
    background: rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    padding: 13px;
  }
  
  .footer_navigation {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 3.2rem;
    & > * {
      flex:1;
    }

    li {
      margin-top: 1.6rem;
    }
  }
  
  .footer_list_heading {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #626262;
  }
  