@import "../../styles/abstracts/variables";

.topbar {
  background-color: #f3f3f3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  width: 100%;

  .topbar_menu {
    display: flex;
    max-width: 144rem;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1.55rem $desktop_padding_right 1.55rem 0;
    gap: 32px;
    margin: 0 auto;
    & > * {
      color: #121221;
    }
  }

  img {
    position: relative;
    cursor: pointer;
  }
}

#modal {
  position: absolute;
  top: 49px;
  right: 72px;
  z-index: 1;
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  width: 189px;

  li {
    padding: 16px;

    a {
      cursor: pointer;
    }
  }
}
